@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

h1,h3,h4,h5,h6 {
	font-family: 'Lato', sans-serif;
	font-weight: 300; 
}

h2 {
	font-family: 'Lato', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 20px;
	letter-spacing: 3px;
	color: #51575b;

}

p{
	font-family: 'Lato', sans-serif;
	font-weight: 400; 
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 20px;
}
body {
	padding-top: 0;
}

h1.sections {
/*	color: #55c0ee;*/
	color: #515556;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 38px;
	font-weight: 300px;
}

p.featuresection {
	font-size: 30px;
	font-weight: 100;
	line-height: 40px;
	margin-bottom: 20px;
	letter-spacing: 1px;
	/*font-style: italic;
*/}
p.featuresectionmob {
	font-size:20px;
	font-weight: 200;
	line-height: 26px;
}
.padding-top {
	padding: 80px 0 0 0;
}
.padding-bottom {
	padding: 0 0 80px 0;
}
.padding-top-bottom {
	padding-top: 50px;
	padding-bottom: 50px;
}
.padding-left {
	padding-left: 100px;
}
.footertext {
	font-size: 14px;
}
.sliderhead {
	font-weight: 400;
	font-size: 48px;
	color: #FFF;
	background: transparent;
}
.navbarlogo {
	padding: 10px 0px 0px 0px;
	line-height: 26px;
	color: #FFF;
	font-size: 30px;
	font-weight: 700
	;
}
.navbarlogo-small {
	padding: 10px 0px 0px 20px;
	line-height: 26px;
	color: #FFF;
	font-size: 30px;
	font-weight: 700
	;
}
#home #myhead {
    overflow: hidden;
    background-size: cover;
    background-image: url("../img/head_bg3.jpg");
    background-position: center 16%;
    position: relative;
    padding: 136px 0 0 0;
}
.phonemargin {
	margin-top: -70px;
}
